body {
  font-family: sans-serif;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
}

.title {
  font-size: 3rem;
}

.form {
  background: lightblue;
  width: 90vw;
  margin: 0 auto;
}

.counter,
.warning {
  display: none;
}
/*# sourceMappingURL=style.css.map */